<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calculator" class="top.xiongmingcai.ioc.entity.Calculator">
        <constructor-arg name="brand" value="联想机"/>
        <constructor-arg name="type" value="台式机"/>
        <constructor-arg name="sn" value="234234"/>
        <constructor-arg name="price" value="3085"/>
    </bean>
    <bean id="company" class="top.xiongmingcai.ioc.entity.Company">
        <property name="rooms">
            <set>
                <value>2001-总裁办</value>
                <value>2002-总经理办公室</value>
                <value>2010-研发部会议室</value>
                <value>2010-研发部会议室</value>
            </set>
        </property>
        <property name="calculatorMap">
            <map>
                <entry key="dev-8850" value-ref="calculator"/>
                <entry key="dev-8848">
                    <bean class="top.xiongmingcai.ioc.entity.Calculator">
                        <constructor-arg name="brand" value="联想机"/>
                        <constructor-arg name="type" value="台式机"/>
                        <constructor-arg name="sn" value="234234"/>
                        <constructor-arg name="price" value="3085"/>
                    </bean>
                </entry>
            </map>
        </property>
        <property name="info">
            <props>
                <prop key="phone">010-12348848</prop>
                <prop key="address">长沙市芙蓉区</prop>
                <prop key="website">www.xiongmingcai.top</prop>
            </props>
        </property>
    </bean>
</beans>